.button-wrapper {
  margin-top: 1rem;

  & button {
    all: unset;
    font: var(--fw-semibold) var(--fs-md) / 150% var(--font-family);
    text-align: center;
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
  }

  & .btn-secondary {
    background: var(--surface-primary);
    color: var(--text-highlight);
    border: 1px solid var(--text-highlight);

    &:hover,
    &:focus {
      outline: 0.25rem solid var(--surface-secondary);
    }
  }

  & .btn-primary {
    background: var(--brand-dark);
    color: var(--surface-primary);

    &:hover,
    &:focus {
      background: var(--brand-mid);
    }
  }
}
