.droparea {
  display: grid;
  gap: 0.5rem;
  justify-items: center;
  padding-block: 1.75rem;

  border: 2px dashed transparent;
  border-radius: 0.5rem;
  outline: 1px dashed var(--stroke-default);

  position: relative;

  & input[type="file"] {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
  }

  & label {
    color: var(--text-quaternary);
  }

  &:focus-within,
  &:hover {
    background-color: var(--surface-secondary);
    border-color: var(--stroke-highlight);
    outline-width: 0;
    color: var(--text-tertiary);

    & svg path {
      stroke: var(--brand-light);
    }
  }
}
