label {
  display: inline-block;
  margin-bottom: 0.25rem;
}

input,
select,
textarea {
  appearance: none;
  width: 100%;
  padding-block: 0.75rem;
  padding-inline: 1rem;
  border: 2px solid transparent;
  outline: 1px solid var(--stroke-default);
  border-radius: 0.5rem;

  font: var(--fw-regular) var(--fs-md) / 150% var(--font-family);
  color: var(--text-tertiary);
}

input,
select:has(:checked),
textarea {
  &:valid {
    color: var(--text-primary);
  }

  &:focus,
  &:focus-within {
    border-color: var(--stroke-highlight);
    outline: 0.25rem solid var(--surface-secondary);
  }

  &:disabled {
    background-color: var(--surface-disabled);
  }
}

input[type="date"] {
  position: relative;

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  &::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    background: url("../../assets/icons/calendar.svg") center/contain;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

label:has(+ input:disabled) {
  color: var(--text-tertiary);
}

.warning {
  margin-top: 0.25rem;

  & small {
    font: var(--fw-regular) var(--fs-sm) / 140% var(--font-family);
    color: var(--semantic-warning);
  }
}

.error {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-top: 0.25rem;

  & small {
    font: var(--fw-regular) var(--fs-sm) / 140% var(--font-family);
    color: var(--semantic-error);
  }
}

input:has(+ .error) {
  color: var(--text-primary);
  outline: none;

  &:invalid,
  &:focus:invalid {
    border-color: var(--semantic-error);
  }

  &:focus:valid {
    border-color: var(--stroke-highlight);
    outline: 0.25rem solid var(--surface-secondary);
  }

  &:valid {
    outline: 1px solid var(--stroke-default);

    & + .error {
      display: none;
    }
  }
}
