.radio-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.radio-option {
  display: grid;
  outline: 1px solid var(--stroke-default);
  border: 2px solid transparent;
  border-radius: 0.5rem;
  padding-block: 2rem 1rem;
  padding-inline: 1rem;

  position: relative;

  & input[type="radio"] {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
  }

  .radio-image {
    background: url("../../assets/icons/circle.svg");
    width: 1.5rem;
    height: 1.5rem;

    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
  }

  &:hover,
  &:focus-within {
    outline-color: var(--stroke-highlight);

    .radio-image {
      background: url("../../assets/icons/circle-hover.svg");
    }
  }

  &:has(input:checked) {
    border-color: var(--stroke-highlight);
    outline-width: 0;

    .radio-image {
      background: url("../../assets/icons/circle-check.svg");
    }
  }

  & .option {
    display: grid;
    gap: 0.5rem;
    justify-items: center;

    & label {
      font-weight: var(--fw-semibold);
      margin: 0;
    }
  }
}
