select {
  background-image: url("../../assets/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 1rem) center;

  &:focus,
  &:focus-within {
    background-image: url("../../assets/icons/arrow-up.svg");
  }
}
