.terms-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  margin-top: 3rem;

  & strong {
    color: var(--text-highlight);
    font-weight: 500;
  }
}

.checkbox-wrapper {
  position: relative;

  & [type="checkbox"] {
    all: unset;
    position: absolute;
    inset: 0;
  }

  .checkbox-image {
    flex: 0 0 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../../assets/icons/checkbox-default.svg);
  }

  &:hover,
  &:focus-within {
    .checkbox-image {
      background-image: url(../../assets/icons/checkbox-hover.svg);
    }
  }

  &:has(:checked) .checkbox-image {
    background-image: url(../../assets/icons/checkbox-checked.svg);
  }
}
