small {
  font: var(--fw-regular) var(--fs-sm) / 140% var(--font-family);
}

.warning {
  margin-top: 0.25rem;

  & small {
    color: var(--semantic-warning);
  }
}

.error {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-top: 0.25rem;

  & small {
    color: var(--semantic-error);
  }
}

input:has(+ .error) {
  color: var(--text-primary);
  outline: none;

  &:invalid,
  &:focus:invalid {
    border-color: var(--semantic-error);
  }

  &:focus:valid {
    border-color: var(--stroke-highlight);
    outline: 0.25rem solid var(--surface-secondary);
  }

  &:valid {
    outline: 1px solid var(--stroke-default);

    & + .error {
      display: none;
    }
  }
}
