@import url(fields/index.css);

form {
  margin-top: 3rem;
}

fieldset {
  display: grid;
  gap: 1.5rem;
  border: none;
}

fieldset + fieldset {
  margin-top: 3rem;
}

legend {
  font: 600 1rem/125% var(--font-family);
  color: var(--text-primary);
  margin-bottom: 1.5rem;
}

.actions-wrapper {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
  padding-top: 1rem;
}
